doctrine_migrations:
    migrations_paths:
        # namespace is arbitrary but should be different from App\Migrations
        # as migrations classes should NOT be autoloaded
        'Blabster\Infrastructure\Resources\doctrine\migrations': '%kernel.project_dir%/src/Infrastructure/Resources/doctrine/migrations'
    enable_profiler: false
