# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    isHtmlExceptions: '%env(IS_HTML_EXCEPTIONS)%'

services:

    _defaults:
        autowire: true
        autoconfigure: true
    
    Blabster\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Infrastructure/Kernel.php'
    
    Nyholm\Psr7\Factory\Psr17Factory:
        class: Nyholm\Psr7\Factory\Psr17Factory

    Symfony\Bridge\PsrHttpMessage\Factory\PsrHttpFactory:
        arguments:
            - '@Nyholm\Psr7\Factory\Psr17Factory'
            - '@Nyholm\Psr7\Factory\Psr17Factory'
            - '@Nyholm\Psr7\Factory\Psr17Factory'
            - '@Nyholm\Psr7\Factory\Psr17Factory'
    
    Symfony\Bridge\PsrHttpMessage\HttpFoundationFactoryInterface:
        class: Symfony\Bridge\PsrHttpMessage\Factory\HttpFoundationFactory

    Mezzio\ProblemDetails\ProblemDetailsResponseFactory:
        arguments:
            $responseFactory: '@Psr\Http\Message\ResponseFactoryInterface'
            $isDebug: '%kernel.debug%'
            $jsonFlags: 448

    Blabster\Infrastructure\Event\Subscriber\Exception\EventResponse\EventResponseProviderInterface:
        class: Blabster\Infrastructure\Event\Subscriber\Exception\EventResponse\EventResponseDispatcher
        arguments:
            $typeToProviderMap:
                Symfony\Component\Validator\Exception\ValidationFailedException: 
                    '@Blabster\Infrastructure\Event\Subscriber\Exception\ExceptionResponse\ValidationFailedResponseProvider'
                Symfony\Component\Serializer\Exception\NotNormalizableValueException: 
                    '@Blabster\Infrastructure\Event\Subscriber\Exception\ExceptionResponse\NotNormalizableValueResponseProvider'
        
    Blabster\Application\Bus\Resolver\ResultFqcn\ResultFqcnResolverInterface:
        class: Blabster\Application\Bus\Resolver\ResultFqcn\ConcatenationResultFqcnResolver
    
    Blabster\Library\DbTransaction\DbTransactionInterface:
        class: Blabster\Library\DbTransaction\FakeDbTransaction

    Symfony\Component\PropertyInfo\Extractor\ReflectionExtractor: ~

    Psr\SimpleCache\CacheInterface:
        class: Symfony\Component\Cache\Psr16Cache
        arguments:
            - '@cache.app' 

# factories

    Blabster\Domain\Factory\PowChallengeFactory:
        arguments:
            $ttlSeconds: '%env(POW_CHALLENGE_TTL)%'

    Blabster\Domain\Factory\FingerprintFactory:
        arguments:
            $ttlSeconds: '%env(FINGERPRINT_TTL)%'

    Blabster\Domain\Factory\RefreshTokenFactory:
        arguments:
            $expirationPeriod: '%env(REFRESH_TOKEN_EXPIRATION_PERIOD)%'

# repositories

    Blabster\Domain\Repository\PowChallengeRepositoryInterface:
        class: Blabster\Infrastructure\Repository\PowChallengeRepository
        arguments:
            $ttlSeconds: '%env(POW_CHALLENGE_TTL)%'

    Blabster\Domain\Repository\FingerprintRepositoryInterface:
        class: Blabster\Infrastructure\Repository\FingerprintRepository
        arguments:
            $ttlSeconds: '%env(FINGERPRINT_TTL)%'

    Blabster\Domain\Repository\OtpRepositoryInterface:
        class: Blabster\Infrastructure\Repository\OtpRepository
        arguments:
            $ttlSeconds: '%env(OTP_TTL)%'

    Blabster\Domain\Repository\UserRepositoryInterface:
        class: Blabster\Infrastructure\Repository\UserRepository

# domain services

    Blabster\Domain\Service\Fingerprint\Validation\FingerprintMatchService: ~

    Blabster\Domain\Service\PowChallenge\Create\PowChallengeCreateService:
        arguments:
            $difficulty: '%env(POW_CHALLENGE_DIFFICULTY)%'

# result converters

    Blabster\Application\Dto\Converter\PaginationResultToDtoConverter: ~

# buses
    Blabster\Infrastructure\Bus\CommandBusInterface:
        class: Blabster\Infrastructure\Bus\CommandBus

    Blabster\Infrastructure\Bus\EventBusInterface:
        class: Blabster\Infrastructure\Bus\EventBus

    Blabster\Infrastructure\Bus\QueryBusInterface:
        class: Blabster\Infrastructure\Bus\QueryBus

# application services

    Blabster\Application\Service\Otp\Mail\OtpMailServiceInterface:
        class: Blabster\Infrastructure\Service\Mail\OtpMailService
        arguments:
            $expirationSeconds: '%env(OTP_TTL)%'
            $senderEmail: '%env(MAILER_NOREPLY_SENDER)%'
            $emailSubject: '%env(MAILER_OTP_SUBJECT)%'
            $templateHtml: '%env(MAILER_TEMPLATE_HTML)%'
            $templateText: '%env(MAILER_TEMPLATE_TEXT)%'
            $messageLocale: '%env(MAILER_LOCALE)%'
            
        
# library
    Blabster\Library\Generator\PageGeneratorInterface:
        class: Blabster\Library\Generator\PageGenerator

# SDK

    Blabster\Library\SDK\Turnsnile\TurnsnileSdk:
        arguments:
            $apiUrl: '%env(TURNSTILE_API_URL)%'
            $apiSecret: '%env(TURNSTILE_API_SECRET)%'
        
# helpers
    Blabster\Library\Helper\Array\ArrayHelperInterface:
        class: Blabster\Library\Helper\Array\ArrayHelper

    Blabster\Library\Helper\DateTime\DateTimeHelperInterface:
        class: Blabster\Library\Helper\DateTime\DateTimeHelper

    Blabster\Library\Helper\Reflection\ReflectionHelperInterface:
        class: Blabster\Library\Helper\Reflection\ReflectionHelper

    Blabster\Library\Helper\String\StringHelperInterface:
        class: Blabster\Library\Helper\String\StringHelper

    Blabster\Library\Helper\Uuid\UuidHelperInterface:
        class: Blabster\Library\Helper\Uuid\RamseyUuidHelper

# providers
    # Blabster\Library\Provider\Cache\CacheProviderInterface:
    #     class: Blabster\Library\Provider\Cache\CacheProvider
    #     arguments:
    #         $servicePrefix: '%env(APP_NAME)%'

# normalizers
    Blabster\Infrastructure\Serializer\Normalizer\ListInterfaceNormalizer:
        tags:
            - { name: 'serializer.normalizer', priority: 500 }

    Blabster\Infrastructure\Serializer\Normalizer\MapInterfaceNormalizer:
        tags:
            - { name: 'serializer.normalizer', priority: 500 }

    Blabster\Infrastructure\Serializer\Normalizer\ExceptionNormalizer:
        tags:
            - { name: 'serializer.normalizer', priority: 500 }

    Blabster\Infrastructure\Serializer\Normalizer\UuidInterfaceNormalizer:
        tags:
            - { name: 'serializer.normalizer', priority: 500 }

# denormalizers
    Blabster\Infrastructure\Serializer\Denormalizer\NullDenormalizer:
        tags:
            - { name: 'serializer.denormalizer', priority: 500 }
    
# value resolvers
    _instanceof:
        Blabster\Infrastructure\Http\ValueResolver\AbstractValueResolver:
            tags: ['controller.argument_value_resolver']

# event subscribers
    Blabster\Infrastructure\Event\Subscriber\Exception\ExceptionSubscriber:
        tags: ['kernel.event_subscriber']

    Blabster\Infrastructure\Event\Subscriber\FailedMessage\FailedMessageSubscriber:
        tags: ['kernel.event_subscriber']

# controllers

    Blabster\Infrastructure\Http\Controller\Auth\Login\LoginAction:
        arguments:
            $isCookieSecure: '%env(bool:COOKIE_WITH_SECURE)%'

# bus handlers

    Blabster\Application\UseCase\Command\Otp\Create\OtpCreateCommandHandler:
        tags:
            - { name: messenger.message_handler, handles: Blabster\Application\UseCase\Command\Otp\Create\OtpCreateCommand }

    Blabster\Application\UseCase\Command\PowChallenge\Create\PowChallengeCreateCommandHandler:
        tags:
            - { name: messenger.message_handler, handles: Blabster\Application\UseCase\Command\PowChallenge\Create\PowChallengeCreateCommand }
    
    Blabster\Application\UseCase\Command\Auth\Login\AuthLoginCommandHandler:
        tags:
            - { name: messenger.message_handler, handles: Blabster\Application\UseCase\Command\Auth\Login\AuthLoginCommand }
    
    Blabster\Application\UseCase\Command\Auth\Refresh\AuthRefreshCommandHandler:
        tags:
            - { name: messenger.message_handler, handles: Blabster\Application\UseCase\Command\Auth\Refresh\AuthRefreshCommand }

    Blabster\Application\UseCase\Command\Auth\Logout\AuthLogoutCommandHandler:
        tags:
            - { name: messenger.message_handler, handles: Blabster\Application\UseCase\Command\Auth\Logout\AuthLogoutCommand }
    
    Blabster\Application\UseCase\Command\Auth\LogoutAll\AuthLogoutAllCommandHandler:
        tags:
            - { name: messenger.message_handler, handles: Blabster\Application\UseCase\Command\Auth\LogoutAll\AuthLogoutAllCommand }
    